/* 
Variables
*/
$color-primary: #d84040;
$color-primary-dark: #00acc1;
$color-primary-light: #00e5ff;
$color-primary-text: #fff;
$color-primary-text-dark: #fff;
$color-primary-text-light: #fff;
$color-primary-text-disabled: #fff;
$color-primary-text-disabled-dark: #fff;
$color-primary-text-disabled-light: #fff;

$box-shadow-success: 5px 5px 1px 1px #777c78;